<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id_user}"></td>
        <td th:text="${user.nom} + ' ' + ${user.prenom}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id_user})}">Edit</a>
            <a th:href="@{/users/{id}(id=${user.id_user})}" th:onclick="'return confirm(\'Are you sure you want to delete this user?\');'">Delete</a>
        </td>
    </tr>
</table>

<!-- Link to add a new user -->
<a href="/users/new">Add New User</a>

</body>
</html>